body {
  background-color: rgba(158, 158, 158, 0.3);
}

.header a {
  color: rgb(87, 99, 110);
  padding: 1.5rem 0 0 1.5rem;
}

h1 {
  line-height: 2em;
  font-size: 4em;
}

.container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}
  .navigation ul li  {
  display: inline-block;

  }
    .navigation ul li a {
      display: block;
      padding: 0.5rem 1rem;
    }